.main {
  margin: 0 auto;
  width: 980px;
}

#ani-var {
  width: 980px;
  height: 50px;
  float:left;
  background-image: url("./img/tona1.gif");
  background-size: contain;
  background-repeat: repeat-x;
  background-color: #efefef;
}

#content-r {
  width: 680px;
  height: 550px;
  background-color: #c46759;
  float: left;
}

#content-l {
  width: 280px;
  height: 550px;
  background-color: #729a9a;
  border-left: 20px solid #efefef;
  float:left;
}

#nav li {
  list-style-type: none;
}

#logo {
  margin-left: 35px;
}